<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://heliocentrix.co.uk/wp-content/uploads/2020/04/microsoft-teams-logo-png_480-480.png" type="image/x-icon">
    <title>Room</title>
    <link rel="stylesheet" href="css/styles.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>      
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/aa95071b26.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.js"></script>
   
   <script>
      const ROOM_ID = '<%= roomId %>'
    </script>
</head>
<body>

  <div class="main">
    <div class="mainLeft" id="mainLeft">
      <div class="mainVideos">
        <div id="videoGrid"> </div>
           <!-- <video controls id="video" autoplay></video> -->
      </div>
      <div class="mainControls">
        <div class="mainControlsBlock">
          <div onclick="muteUnmute()" class="mainControlsButton mainMuteButton">
            <i class="fas fa-microphone"></i>
            <span>Mute</span>
          </div>
          <div onclick="playStop()" class="mainControlsButton mainVideoButton">
            <i class="fas fa-video"></i>
            <span>Stop Video</span>
          </div>
        </div>

        <div class="mainControlsBlock">

         <button onclick="showparticipants()">
         <div class="mainControlsButton">
          <i class="fas fa-user-friends icon"></i>
            <span>Participants</span>
         </div>
        </button>
        
         <button onclick="showchatbox()">
         <div class="mainControlsButton">
          <i class="fas fa-comment-alt icon"></i>
            <span>Chat</span>
         </div>
        </button>

        <button id="start">
          <div class="mainControlsButton">
            <i class="fas fa-desktop"></i>
            <span>Share screen</span>
         </div>
        </button>

        <button id="stop">
          <div class="mainControlsButton">
            <i class="fas fa-record-vinyl"></i>         
            <span>Stop</span>
         </div>
        </button>

        <div id="video" autoplay></div>

        </div>

        <div class="mainControlsBlock" onclick="leave()">
          <div class="mainControlsButtonEndMeeting mainControlsButton">
            <button id="leave"><span class="leaveMeeting"><a href="/create">End</a></span></button>
          </div>
       </div>

      </div>

    </div>
    <div class="mainRight" id="mainRight">
      <div class="mainHeader">
        <div class="flex text-center" style="display:flex; margin-left: auto; margin-right: auto;">
        <h6>Chat</h6>
         <button onclick="closechatbox()"><i class="fas fa-times"></i></button>
         </div>
      </div>
      <div class="mainChatWindow">
        <ul class="messagesContainer">
        </ul>
     </div>
     <div class="messageSendingTo">To: <span>Everyone <i class="fas fa-angle-down"></i></span> </div>
     <div class="mainMessageContainer"> 
       <span>
      <input id="chatMessage" type="text" placeholder="Type message here..." style="background-color:whitesmoke; padding: 8px;">
          <button id="start-btn" onclick=startlistening() style="font-size: small">Listen</button>
     </span>
        </div>
    </div>

    <div class="mainRight" id="mainRightpart" style="display: none;">
      <div class="mainHeader">
        <div class="flex text-center" style="display:flex; margin-left: auto; margin-right: auto;">
        <h6>Participants</h6>
         <button onclick="closeparticipants()"><i class="fas fa-times"></i></button>
         <ul id="Participants_list"></ul>
         </div>
      </div>
      
    </div>
</div>
</body>
<script>

// $("#chatMessage").emojioneArea({
//     pickerPosition:"top"
//   });

function closechatbox() {
  document.getElementById("mainRight").style.display = "none";
  document.getElementById("mainLeft").style.flex = "1";
  document.getElementById("mainRightpart").style.display = "none";
}

function showchatbox() {
  document.getElementById("mainRight").style.display = "flex";
  document.getElementById("mainLeft").style.flex = "0.8";
  document.getElementById("mainRightpart").style.display = "none";
}

function showparticipants() {
  document.getElementById("mainRightpart").style.display = "flex";
  document.getElementById("mainLeft").style.flex = "0.8";
  document.getElementById("mainRight").style.display = "none";
}

function closeparticipants() {
  document.getElementById("mainRightpart").style.display = "none";
  document.getElementById("mainLeft").style.flex = "1";
  document.getElementById("mainRight").style.display = "none";
}

///screen share

// const videoElem = document.getElementById("video");
// // const logElem = document.getElementById("log");
// const startElem = document.getElementById("start");
// const stopElem = document.getElementById("stop");

// // Options for getDisplayMedia()

// var displayMediaOptions = {
//   video: {
//     cursor: "always"
//   },
//   audio: false
// };

// // Set event listeners for the start and stop buttons
// startElem.addEventListener("click", function(evt) {
//   startCapture();
// }, false);

// stopElem.addEventListener("click", function(evt) {
//   stopCapture();
// }, false);


// async function startCapture() {
//   // logElem.innerHTML = "";

//   try {
//     videoElem.srcObject = await navigator.mediaDevices.getDisplayMedia(displayMediaOptions);
//     dumpOptionsInfo();
//   } catch(err) {
//     console.error("Error: " + err);
//   }
// }

// function stopCapture(evt) {
//   let tracks = videoElem.srcObject.getTracks();

//   tracks.forEach(track => track.stop());
//   videoElem.srcObject = null;
// }



//speech to text

var speechRecognition=window.SpeechRecognition || window.webkitSpeechRecognition
var recognition=new speechRecognition()
var textbox=$("#chatMessage")
// var instructions=$("#instructions")/
var play=document.getElementById("start-btn")
var playbutton=$("#start-btn")
var content=''
recognition.continuous=true

//recognition is started

function startlistening(){
if(play.innerHTML==="Listen"){
  // console.log("hi");
recognition.onstart=function(){
    // instructions.text("Voice recogntion is on")
  playbutton.text("Stop Listening")
}
}else{
  recognition.stop();
  playbutton.text("Listen")
}
}

recognition.onspeechend=function(){
    // instructions.text("Press above button to convert your speech to text.")
    playbutton.text("Listen")
}
recognition.onresult=function(event){
    var current=event.resultIndex;
    var transcript=event.results[current][0].transcript
    content+=transcript
    textbox.val(content)
}
$("#start-btn").click(function(event){
    if(content.length){
        content+=''
    }
    recognition.start()
})

//emoji
</script>

<script src="js/main.js"></script>

</html>